body {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #126e82;
}

.stamp {
    width: 50em;
    height: 73em;
    font-size: 6px;
    padding: 25px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
}

.stamp::before,
.stamp::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-image:
        radial-gradient(circle, #126e82 50%, transparent 50%),
        radial-gradient(circle, #126e82 50%, transparent 50%);
    background-size: 3.5em 3.5em;
}

.stamp::before {
    background-repeat: repeat-y;
    top: 1.5em;
    /* bottom: 1.5em; */
    background-position: -3.5% 0, 103.5% 0;
}

.stamp::after {
    background-repeat: repeat-x;
    left: 1.5em;
    /* right: 1.5em; */
    background-position: 0 -2.5%, 0 102.5%;
}

.stamp .top-txt {
    padding: 10px 46px;
    font-size: 40px;
    color: aliceblue;
    position: absolute;
    right: 0;
    /* float: right; */
}

.stamp .bottom-txt {
    padding: 36px 10px;
    font-size: 18px;
    color: aliceblue;
    position: absolute;
    bottom: 0;
    /* float: right; */
}

.stamp img{
    width: 301px;
    height: 437px;
    /* height: 72.8em; */
}

.stamp .image .i{
    display: none;
}

/* 文字 */
.L-txt {
    font-size: 30px;
    font-weight: bold;
    color: #baccd9;
    height:600px;
    width: 460px;
}
.L-txt .tt{
    float: left;
}

.L-txt .bt{
    margin-top: 480px;
    float: left;
}

.R-txt {
    font-size: 30px;
    font-weight: bold;
    color: #baccd9;
    height:600px;
    width: 460px;
}
.R-txt .tt{
    float: right;
}

.R-txt .bt{
    margin-top: 520px;
    float: right;
}