*{
    margin: 0;
    padding: 0;
    /* border: 1px solid blue; */
}
.page{
    width: 60%;
    margin: 0 20%;
}
/* 导航栏 */
/* logo */
.top{
    height: 65px;
}
.logo{
    width: 50%;
}
.logo .l1{
    float: left;
}
.logo .l2{
    float: left;
    margin-top: 20px;
    margin-right: 50%;
}
.logo .l3{
    float: left;
}
/* 按钮 */
.nav{
    text-align: right;
    width: 50%;
    float: right;
    color: #c0c4c3;
}
.nav a{
    color: #c0c4c3;
    text-decoration: none;
}
/* 主页面 */
.middle{
    height:590px;
}
.middle .w_img{
    width: 90%;
    margin: 0 5%;
    display: block;
}
.middle .line1 {
    margin: 0;
    width: 100%;
}
.m_body{
    height: 300px;
    width: 90%;
    margin: 0 5%;
}
.left{
    /* margin-left: 5%; */
    height: 300px;
    width: 25%;
    float: left;
}
.left h4{
    color: black;
    font-size: 14px;
}
.left .row{
    color: #74787a;
    font-size: 13px;
}
.left .row .ipt{
    width: 60%;
    margin-top: 5px;
}
.left .row .bt{
    text-align: center;
}
.left .row .btn{
    margin-top: 3px;
    border-radius: 0%;
    border: none;
    width: 40px;
}
.left .row .msg{
    margin-left: 10%;
    font-size: 15px;
}
.left .row .img{
    margin-left: 10%;
}
.left .row img{
    margin-top: 2px;
}

/* 右 */
.right_u,.right_d{
    height: 150px;
    width: 75%;
    float: left;
}
/* 右上 */
.right_u_page{
    margin-top: 2px;
    height: 150px;
}
.right_d img,
.right_u_page img{
    float: left;
    margin-left: 3%;
    height: 130px;
    width: 20%;
    border: 1px solid #74787a;
}
.text{
    font-size: 13px;
    margin-left: 5%;
    float: left;
    width: 71%;
}
.right_u_page .check{
    height: 12px;
    float: left;
    text-align: center;
    color: #74787a;
    font-size: 10px;
    width: 50%;
}
/* 右下 */
.right_d .line4{
    margin-bottom: 10px;
    border: none;
    display: block;
    margin-left: 3%;
    width: 97%;
    height: 2px;
}
/* 版权声明 */
.bottom{
    height: 76px;
    text-align: center;
    background-image: url("../image/line2.jpg");
}